<div class="row">
  <h2 class="title"><span>Welcome to My <span>POC</span></span></h2>
  <div class="row2">
  <p><strong>iMUONS POC</strong> is a one which contains all the  Student Db <strong>CRUD</strong> operations.
  <br>
  I have created this Web Application using <strong>Angular CLI</strong>.
  <br>
  I have used <strong>mLab</strong> as the DataBase.
 <br>
 I have created <strong>custom pipe</strong> ie: Search Pipe.
 <br>
 I have created <strong>services using HTTP Services</strong>
<br>
I have done routing using <strong>Eager Loading</strong>as DB is small and WebApp contains only <strong>6 services</strong>.
</p>
  </div>
  </div>