<div>
  <div>
    <label>student ID</label>
    <input type="text" [(ngModel)]="localstudent.studentId" type="text">
  </div>
  <div>
    <label>student Name</label>
    <input type="text" [(ngModel)]="localstudent.studentName" type="text">
  </div>
  <div>
    <label>student Email Id</label>
    <input type="text" [(ngModel)]="localstudent.studentEmailId" type="text">
  </div>
  <div>
    <label>Contact No</label>
    <input type="text" [(ngModel)]="localstudent.contactNo" type="text">
  </div>
  <div>
    <button type="submit" (click)="addstudent();">Add</button>
  </div>
</div>