<div class="main">
  <div class="page">
    <div class="header">
      <div class="banner">
        <h1>iMUONS POC</h1>
      </div>
      <div class="topmenu">
        <ul>
          <li class="active">
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/showstudents">Show Students</a>
          </li>
          <li>
            <a routerLink="/addstudent">Add Student</a>
          </li>
          <li>
            <a routerLink="/deletestudent">Delete Student</a>
          </li>
          <li>
            <a routerLink="/updatestudent">Update Student</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="content-in">
        <div class="right-panelll">
          <!-- <div class="right-panelll-in"> -->
          <router-outlet></router-outlet>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="footer">
      <p>&copy; Designed by
        <a target="_blank" href="https://www.facebook.com/siddhantpotghante">Siddhant Potghante</a>
        <br>
        HTML Template Refrence <a target="_blank" href="http://www.htmltemplates.net">htmltemplates.net</a>
      </p>

    </div>
  </div>
</div>